@page
@model JewlryShop2.Pages.Items.CartItemsModel

@{
    ViewData["Title"] = "CartItems";
    double TotalCartPrice = 0 ; 
}

<h1>Items in Cart Num @Model.CartId</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CartItems[0].Cart.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartItems[0].Jewelry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartItems[0].Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CartItems) 
        {
            TotalCartPrice += item.Jewelry.Price * item.Amount;   
         <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cart.Customer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jewelry.JewelryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<span> Total Price: @TotalCartPrice</span>
