@* @page
@model JewlryShop2.Pages.Items.IndexModel

@{
    ViewData["Title"] = "Items";
}

<h1>Items</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Cart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Cart.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Jewelry)
            </th>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Item) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cart.CartId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cart.Customer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jewelry.JewelryName)
            </td>
            <td>
                 <img src="~/images/@item.Jewelry.ImageName" width="150" height="150 " />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@


@page
@model JewlryShop2.Pages.Items.IndexModel

@{
    ViewData["Title"] = "My Cart Items";
}

<section class="hero-section">
    <div class="hero-content">
        <h1 class="hero-title">My Cart Items</h1>
        <p class="hero-subtitle">Browse through the items in your collection</p>
        <a asp-page="Create" class="btn-gold">+ Add New Item</a>
    </div>
</section>

<div class="table-wrapper" style="padding: 40px;">
    <table class="styled-table">
        <thead>
            <tr>
                <th>Cart Number</th>
                <th>Name</th>
                <th>Jewelry</th>
                <th>Image</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Item)
            {
                <tr>
                    <td>@item.Cart.CartId</td>
                    <td>@item.Cart.Customer.Name</td>
                    <td>@item.Jewelry.JewelryName</td>
                    <td>
                        <img src="~/images/@item.Jewelry.ImageName" class="table-img" alt="@item.Jewelry.JewelryName" />
                    </td>
                    <td>@item.Amount</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn-link">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id" class="btn-link">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn-link danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
