@page
@model JewlryShop2.Pages.Items.IndexModel

@{
    ViewData["Title"] = "Items";
}

<h1>Items</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Cart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Cart.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Jewelry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Item) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cart.CartId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cart.Customer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jewelry.JewelryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @* <a class"btn btn-primary" asp-page="/Items/CartItemsList" asp-route-CartId="@item.Id">Items in Cart</a> *@
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
