@page
@model JewlryShop2.Pages.Reviews.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>ביקורות</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
    <div>
        <p>
            Find by jewelry name or star amount:
            <input type="text" name="SearchString" />
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-page="./Index">Back to full List</a>
           
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Jewelry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Rewiew)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].StarAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Review) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jewelry.JewelryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rewiew)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StarAmount)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
